---
import {Image} from 'astro:assets';
import Layout from "../../layouts/Layout.astro";
import Partenaire from '../../assets/images/image-stand1.webp';
---

<Layout>
    <div class="text-center p-6 border border-gray-300 rounded-lg bg-white shadow-lg">
        <h3>Les associations de protections de l’animale présente. </h3>
        <Image src={Partenaire} alt="Partenaire" />
        <div class="flex align-baseline">
            <p>Pattes Solidaires</p>
            <p>Cœurs de Félins</p>
            <p>Voix des Animaux</p>
            <p>Refuge des Compagnons</p>
        </div>
    </div>
</Layout>