---
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/icones/logo.svg";
---

<Layout>
    <div>
        <h3>À Propos du Festival Miaullywood</h3>
        <Logo/>
    </div>
    <h4>
        Miaullywood : Cinéma et Protection des Chats
        <h5>     Le Festival Miaullywood célèbre le cinéma et sensibilise à la protection des chats. Chaque année, il réunit cinéphiles, amoureux des animaux et familles pour des projections de films, ateliers créatifs et activités ludiques.</h5>
    </h4>
    <h4>
        Promouvoir la Cause Animale par le Cinéma
        <h5>     L'objectif est de promouvoir la cause animale et de soutenir les artistes émergents. Le festival met en lumière les histoires d'animaux maltraités et célèbre leur résilience.</h5>
    </h4>
    <h4>
        Des Activités pour Tous les Âges et Intérêts
        <h5>     Avec des activités pour tous les âges, Miaullywood encourage l'engagement dans la cause animale. </h5>
    </h4>
    <h4>
        Un Festival pour Tous
        <h5>     Inclusif, il rassemble divers publics autour du cinéma et de la protection animale.</h5>
    </h4>
    <h4>
        Participez à Miaullywood
        <h5>     Rejoignez-nous pour cette célébration annuelle où cinéma et amour des animaux se rencontrent. Pour plus d'informations, visitez notre site !</h5>
    </h4>
</Layout>