---
import {Image} from 'astro:assets';
import Layout from "../../layouts/Layout.astro";
import imageteliers from '../assets/images/image-stand2.webp';
import Carda from '../../components/Carda.astro';
import { getAteliers } from '../../../backend/backend.mjs';

const activites = await getAteliers();
---

<Layout>
    <h3>Ateliers créatifs pour petits et grands</h3>
    <Image src={imageteliers} alt="Image d'atelier" />
    
    <div>
      <Carda/>
    </div>
  </Layout>